@import url('https://fonts.googleapis.com/css?family=Mali|Open+Sans:400,700&display=swap');

$font-text: 'Open Sans', sans-serif;
$font-form: 'Open Sans', sans-serif;
$font-heading: 'Mali', cursive;
$color-accent: #DF440D;
