@import 'variables';
@import 'fonts';

body, input, select, textarea {
  font-family: $font-scripts, $font-text;
}
h1, h2, .navbar-brand {
  font-family: $font-heading;
}
textarea#from, textarea#to, button.charmap-btn {
  font-family: $font-scripts, $font-form;
}
textarea#from, textarea#to, .charmap-btn {
  font-size: large;
}

.navbar {
  border-bottom: 2px $color-accent dotted;

  .navbar-brand {
    color: $color-accent;
  }
}

.container {
  max-width: 960px;
}

.form-group {
  margin-bottom: 0.5rem;
}
.form-control[readonly] {
  background-color: #FFFFFF;
}
